<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>

    <nav>
        <ul>
        <li>
            <a href="#">
                <img src="assets/images/store_icon.png" alt="logo" width="80%" height="80%">
            </a>
        </li>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>

        <li class="right-dropdown">
            <a href="#"> 
                <img src="assets/images/us_flag.png" alt="languages" width="30" height="30"> Languages ▾ </a>
            <ul class="dropdown">
                <li><a href="#"> <img src="assets/images/language_icons/usa.png" width="20" height="20" alt="EN"> English</a></li>
                <li><a href="#"> <img src="assets/images/language_icons/myanmar.png" width="20" height="20" alt="MM"> မြန်မာစာ </a></li>
                <li><a href="#"> <img src="assets/images/language_icons/japan.png" width="20" height="20" alt="JP"> Japanese</a></li>
            </ul>
        </li>

        <li class="login">
            <a href="#">
                <img src="assets/images/Icons/login.png" alt="loginIcon" width="20" height="20"> Account 
            </a>
            <ul class="dropdown">
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">SignUp</a></li>
            </ul>
        </li>
        

        </ul>

    </nav>

</body>
</html>
